<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReniecServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eliminadosmine.somee.com/ReniecService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReniecServiceSoap"
                contract="ServiceReference1.ReniecServiceSoap" name="ReniecServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>